.Calculator {

  $button-columns: 4;
  $button-width: 60px;
  $button-margin: 3px;
  $calc-width: $button-columns * ($button-width + $button-margin) + 8px;

  width: $calc-width;
  display: inline-block;

  .result {
    display: block;
    height: 62px;
    width: $calc-width;
    text-align: right;
    font-size: 40px;
    overflow-x: auto;
    overflow-y: hidden;

  }

  .result-small {
    line-height: 84px;
    font-size: 24px;
  }

  .result-helper-text {
    position: absolute;
    text-align: left;
    transform: translateX($calc-width + 10px) translateY(-30px);
  }

  .expression {
    display: inline-block;
    width: $calc-width;
    text-align: right;
    margin-bottom: 10px
  }

  .buttonContainer {
    display: inline-grid;
    grid-template-columns: repeat($button-columns, 1fr);

    button {
      width: $button-width;
      margin: $button-margin;
      font-size: 20px;
    }

    .smallText {
      font-size: 14px;
      padding: 0;
      text-align: center;
    }
  }
}
